
upstream scriptdocker {
    server {{app_name}}:5000;
}

map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}


server {
    
    listen 80;
    # listen [::]:80

    #location / {
    location ~ \/.+ {
        proxy_pass_header Server;
        proxy_set_header Host $proxy_host;
        proxy_set_header X-Real-X $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://scriptdocker;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        
        proxy_set_header Origin http://$proxy_host;
    }

    location = / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
        proxy_pass http://scriptdocker/index.html;
    }

}
